{% extends 'partials/base.html' %}

{% block title %} Category List {% endblock title %}

{% block content %}
    <div class="container p-2">
        <p class="h3">Welcome {{ request.user.username }} (Admin)</p>
        <div class="d-flex justify-content-end">
            <a href="{% url 'create_category' %}" class="btn btn-primary btn-sm m-3">+ Add Category</a>
        </div>
        <table class="table table-hover" border="1">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for cat in categories %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ cat.name }}</td>
                        <td>{{ cat.description }}</td>
                        <td>
                            <a href="{% url 'edit_category' cat.pk %}">Edit</a> |
                            <a href="{% url 'delete_category' cat.pk %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}